body {
  font-family: 'Inter', sans-serif;
  background: black;
}
.bold-text {
  color: white;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 70px;
}
.image {
  margin-top: 30px;
  display: flex;
  justify-content: center;

}